body{
   color: black;
   font-size: 20px;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
#heading-one{
   color: white;
   background-color: rgb(108, 111, 112);
}
h2{
   background-color: rgb(72, 72, 69) ;
   width: 95%;
}
.button{
   color:#000;
   background-color: seagreen;
   cursor: pointer;
}
#textbox{
   background-color: rgba(237, 246, 243, 0.694);
}
h1{
   background-color: azure;
   width: 90%;
   height: 50px;
   
}
.number{
   
   font-size: 20px;
}
.gmail{
font-size: 20px;

}
.precious{
   font-size: 12px;
   color:red;
}
#precious{
   color: #b4aeae82;
}
.name{
   font: bolder;
   color: black;
}
.cakes{
   color: black;
}
.meat{
   color: #000;
}
#donuts{
   color: #000;
}
.pastries{
   background-color: aliceblue;
}
.prices{
   background-color: whitesmoke;
   color: black;
   margin-left: 2rem;
}
.account{
   color: slategrey;
   font-size: small;
}
.nav{
   display: flex;
   width: 100%;
   justify-content: space-between;

}
.love{
   font-size: 15px;
   background-color: azure;
   list-style: none;
}
.love li{
   display: inline-block;
}
.home{
   background-color: azure;
   border-radius: 12%;
}
.home img{
   width: 40px;
   aspect-ratio: 1;
}
.about{
   font-style: normal;
   font-size: medium;
   font-weight: bolder;
  
}

.cash{
   text-transform:  capitalize;
}

#link:link{
   color: aqua;
   cursor: pointer;
}

#link:visited{
   color: red;
}

.link{
   font-size: small;
   text-align:center ;
}

.pastries{
   text-transform: capitalize;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: x-large;
}

.paragraph{
   font-family: Arial, Helvetica, sans-serif;
   text-transform: inherit
}

body{
   font-size: medium;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.cakes{
   font-size: smaller;
}

.contact{
   background-color: lightseagreen;
   display: flex;
   justify-content: space-between;
}
 h2{
   width: 80%;
   background-color: white;
   font-size: medium;
 }

 .images{
   justify-content: center;
   display: flex;
   list-style: none;
   display: inline-block;
 }

.cont{
   display: flex;
   justify-content: space-between;
   background-color: #000;
   width: 90%;
   max-width: 100%;
   margin-top: 2rem;
   padding: 18px;
}
.field{
   font-style: inherit;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
   text-transform: capitalize;
   width: 70%;
}